@model BillingApp.Models.Bill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-6">
            <h4>Sender Company</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.SenderCompany.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SenderCompany.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SenderCompany.Address)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SenderCompany.Address)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SenderCompany.DDVId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SenderCompany.DDVId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SenderCompany.Country)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SenderCompany.Country)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SenderCompany.Phone)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SenderCompany.Phone)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SenderCompany.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SenderCompany.Email)
                </dd>

            </dl>
        </div>
        <div class="col-md-6">
            <h4>Information</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.RecieverCompany.Code)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RecieverCompany.Code)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SenderCompany.Code)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SenderCompany.Code)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BillNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BillNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Location)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Location)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DUR)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DUR)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ValidUntill)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ValidUntill)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PaymentDue)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PaymentDue)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ServiceDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ServiceDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OverallPrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OverallPrice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Notes)
                </dt>

            </dl>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6">
            <h4>Reciever Company</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.RecieverCompany.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RecieverCompany.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RecieverCompany.Address)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RecieverCompany.Address)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RecieverCompany.DDVId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RecieverCompany.DDVId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RecieverCompany.Country)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RecieverCompany.Country)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RecieverCompany.Phone)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RecieverCompany.Phone)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RecieverCompany.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RecieverCompany.Email)
                </dd>

            </dl>
        </div>
    </div>
</div>
<div>
    <h4>Items</h4>
	<hr />
    <dl class="dl-horizontal">
        
    </dl>
</div>
<hr/>

<h4>Notes</h4>
<dd>
    @Html.DisplayFor(model => model.Notes)
</dd>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
